<h1>Join the easiest web sharing app site today!</h1>


<p>Create an account in less than a minute and start posting. It's that easy.</p>

<% if @user.errors.any? %>
    <ol>
        <%= @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ol>
<% end %>

<%= form_for @user do |f| %>
    <%= f.label :email, :class => 'form-label' %>
    <%= f.email_field :email, :class => 'form-control' %>

    <%= f.label :name, :class => 'form-label' %>
    <%= f.text_field :name, :class => 'form-control' %>

    <%= f.label :password, :class => 'form-label' %>
    <%= f.password_field :password, :class => 'form-control' %>

    <%= f.label :password_confirmation, :class => 'form-label' %>
    <%= f.password_field :password_confirmation, :class => 'form-label' %>

    <%= f.submit "Sign up!", :class => 'btn btn-danger btn-lg' %>


<% end %>

    
 <%# <%= user.label :dob, 'Date of birth' %> 
    <%# <%= user.text_field :dob, :placeholder => 'YYYY-MM-DD' %> 
    <%# <p>Your date of birth will not be shown publicly.</p> %>
