<h1>Modify Post</h1>

<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :image %>
    <%= f.url_field :image %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit %>
<% end %>