<h1>All Posts</h1>

<% @posts.each do |post| %>
    <p> <%= link_to post.title, post_path(post.id) %> </p>
<%= link_to post_path(post.id) do %>
    <%= image_tag post.image, :class => 'feature' if post.image.present?%>
    <% end %>

    <p>
    <%= post.content %>

    <%= button_to "Like", method: "put" %>
    </p>
    
<% end %>