<h1>New Post</h1>

<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :image %>
    <%= f.url_field :image %>

    <%= f.label :content %>
    <%= f.text_area :content, :cols => "10", :rows => "10" %>

    <%= f.submit %>
<% end %>
